<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/css.css" rel="stylesheet" media="screen">
    </head>
    <body>
                    <div class="col-md-9 content-area">
                    <div class="frame" style="background: url(../img/fdjyagaimo.jpg) center center no-repeat;"></div>
                    <div class="frame2" style="background: url(../img/fdputitomato.jpg) center center no-repeat;"></div>
                    <div class="frame3" style="background: url(../img/fdpapurika.jpg) center center no-repeat;"></div>
                    <div class="frame4" style="background: url(../img/fd_kabotya.jpg) center center no-repeat;"></div>
                    <div class="frame5" style="background: url(../img/fd_ninjin.jpg) center center no-repeat;"></div>
                    </div>
</html>
