<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
                <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/css.css" rel="stylesheet" media="screen">
        <script>
jQuery(function($){
 $('a[rel=tooltip]').tooltip();
});
</script>
    </head>
    <body>
        <a href="#" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="this is tooltip">tooltip</a>
                <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">

                <!--ブランド名 ロゴ名の表示-->
                <a class="navbar-brand" href="#">VEC</a>
                
 
                

<!--                トグルボタンの設置
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="nav-content">
                                    <span class="icon-bar">ユーザ</span>
                                    <span class="icon-bar">買い物カゴ</span>
                                    <span class="icon-bar">検索</span>
                                </button>-->
            </div>
            <div id="nav-content" class="collapse navbar-collapse">

                <!--                    リンクのリスト メニューリスト
                -->                    <ul class="nav navbar-nav">
                    <div class="left"><li><a href="">長野さん、ようこそ</a></li></div>
                                          <li><a href="">買い物カゴ <span class="badge">12</span></a></li>
                                          <!--<li><a href="">Link3</a></li>-->
                </ul>


                <!--検索フォーム-->
                <form class="navbar-form navbar-static-top" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="商品検索">
                    </div>
                    <button type="submit" class="btn btn-default">検索</button>
                </form>
            </div>
                </nav>
        <header class="jumbotron col-lg-10 col-lg-offset-1"></header>
        
                <form class="navbar-form navbar-static-top hidden-lg hidden-md hidden-sm" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="商品検索">
                    </div>
                    <button type="submit" class="btn btn-default">検索</button>
                </form>

    </body>
</html>
