<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../css/css.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="col-md-3 col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">カテゴリ一覧</a></li>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">肉 <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><div class="frame" style="background: url(../img/fdjyagaimo.jpg) center center no-repeat;"></div></li>
                        <li><a href="#">松阪牛</a></li>
                        <li><a href="#">なんとか牛</a></li>
                        <li><a href="#">豚</a></li>
                    </ul>
                </div>
                <div id='cssmenu'>
                    <li class='has-sub'><a href='#'><span>肉・卵</span></a>
                        <ul>
                            <li><div class="frame" style="background: url(../img/fd_ninjin.jpg) center center no-repeat;"></div></li>
                            <li><div class="frame" style="background: url(../img/fdjyagaimo.jpg) center center no-repeat;"></div></li>
                        </ul>
                </div>
                <li><a href="#">肉・卵</a></li>
                <li><a href="#">魚介</a></li>
                <li><a href="#">野菜</a></li>
                <li><a href="#">果物</a></li>
                <li><a href="#">穀物</a></li>
                <li><a href="#">調味料</a></li>
                <li><a href="#">加工食品</a></li>
                <li><a href="#">菓子</a></li>
            </ul>
        </div><!--/.sidebar-->
